body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;

    background-image: url("img/busan-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    width: 400px;
    font-size: 18px;
}

.search__title {
    margin-bottom: 20px;
}

.search__text {
    width: 100%;
    padding: 12px;
}

/*autocomplete styles*/

.search__results {
    width: 100%;
    border: 1px solid #ccc;
    background: rgb(139, 183, 242);
    display: none;
}

.autocomplete-item {
    padding: 12px;
    cursor: pointer;
    border-bottom: 3px solid black;
}


.autocomplete-item:hover {
    background-color: rgb(17, 12, 167);
}


/*repositories results styling*/

.repositories__list {
    margin-top: 20px;
}

.repositories__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.repositories__item button {
    background: darkred;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

.repositories__item button:hover {
    background: red;
}


/*subtitle*/

.search__subtitle {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: white;
}


.search__subtitle--yes,
.search__subtitle--no {
    margin-top: 10px;
    padding: 8px 8px;
    font-weight: bold;
}

.search__subtitle--yes:hover {
    background: green;
}

.search__subtitle--no:hover {
    background: red;
}

